<h2><u>Animal Details</u></h2>
<div class="card" style="width: 18rem;">
    <img src="{{animal.image}}" class="card-img-top" alt="...">
    <div class="card-body text-primary">
        <h5 class="card-title">My name is {{ animal.name }}</h5>
        <p class="card-text ">I´m {{ animal.description }} </p>
        <p> For {{ animal.price | currency }} i will be yours ;-)
        </p>
        <a routerLink="" class="btn btn-primary text-dark">back to current animals</a>
        <p><button class="btn btn-danger" (click)="addToCart(animal)">Buy</button></p>
    </div>
</div>